
.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
}

/* 2*/
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

/* 3 */
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}