.card-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39);
  transition: 0.6s;
  width: 300px;
  height: 340px;
  border-radius: 5px;
  margin-left: 6px;
  margin-right: 6px;
}

.card-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.container-especial-card {
  padding: 2px 16px;
}
.title-card{
  justify-content: center;
  text-align: center
}
.text-total{
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
}

.title-card-modal{
  text-align: center
}
.text-total{
  margin-bottom: 10px;
}
.div-info div{
  margin-top:3px
}
