
nav{
    background-color: #00BFA6;
    height:40px;
    margin-bottom: 12px;
}
nav a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}
nav ul{
  margin: 0;
  float: right;
}
nav li {
  display: inline-block;
  width: auto;
  padding: 5px 10px;
  background-color: #00BFA6;
  border: 1px solid #00BFA6;;
  text-align: center;
  color: #fff;
}
nav li:hover {
  background-color:#00bfa66b;
  color: #000;
}


